html,
body,
svg {
    height: 100%
}

svg:not(:root) {
    display: inline-block;
}
#container1 {
    width: 66%;
    margin: auto;
    float: left;
}
#container2{
    width: 33%;
    margin: auto;
    float: right;
}

#header {
    width: 50%;
    float: left;
    height: 900px;
}



#map {
    width: 50%;
    float: left;
    height: 900px;
}

#data {
    width: 100%;
    float: right;
    height: 900px;
}

#clear {
    clear: both;
}

text {
    font: bold 13px Arial;
}